* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Press Start 2P", system-ui;
    
}

html {
    scroll-behavior: smooth;
}

button {
    all: unset;
}